.About {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}
/* ====== 1 company profile ====== */
.About .company_profile {
  margin: 60px 0 40px;
  display: flex;
  justify-content: space-between;
}
.About .company_profile .profile_bg {
  width: 50%;
  background-image: url(../images/profile_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.About .company_profile .profile_img {
  width: 500px;
  position: absolute;
  top: 10%;
  left: 5%;
}
.About .company_profile .profile_content {
  max-width: 45%;
  padding: 20px 5px;
}
.About .company_profile p {
  text-align: justify;
}
/* ====== 2 more text about company ====== */
.About .company_more {
  margin: 40px 0;
}
.About .company_more p {
  margin: 20px 0;
  padding: 0 5px;
}
.About .company_more span {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-gray);
}
/* ====== 3 feature ====== */
.About .feature {
  margin-top: 60px;
  padding: 0 10%;
}
.About .feature h3 {
  text-align: center;
}
.About .feature .fea_content {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.About .feature .fea_content > * {
  width: 400px;
  height: 250px;
}
.About .feature .fea_img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-size: contain;
}
.About .feature .fea_1 .fea_img {
  background-image: url(../images/fea_icon_1.png);
}
.About .feature .fea_2 .fea_img {
  background-image: url(../images/fea_icon_2.png);
}
.About .feature .fea_3 .fea_img {
  background-image: url(../images/fea_icon_3.png);
}
.About .feature .fea_4 .fea_img {
  background-image: url(../images/fea_icon_4.png);
}
.About .feature h4 {
  margin: 10px 0;
}
.About .feature p {
  text-align: center;
  margin: 10px 0;
}
/* ====== 4 roles ====== */
.About .roles {
  padding: 20px;
  background-image: linear-gradient(#000a, #000a), url(../images/bg_role.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.About .roles h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: white;
}
.About .roles > div {
  height: 380px;
  width: 470px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(../images/role_text_bg.png);
  background-size: cover;
  color: var(--light-gray);
}
.About .roles img {
  max-width: 480px;
}
.About .roles h5 {
  margin: 10px 20px;
  font-size: var(--h5-small-font);
}
.About .roles p {
  margin: 10px 20px;
  font-size: var(--p-small-font);
}
/* ====== 5 office photo ====== */
.About .company_office {
  margin: 60px;
}
.About .company_office h3 {
  text-align: center;
  color: var(--dark-gray);
  margin: 30px;
}
.About .company_office > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.About .company_office img {
  width: 100%;
  border-radius: 20px;
}
