.Contact {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}
/* ====== 1 google map ====== */
.Contact .map {
  height: 100%;
}
.Contact .map h3 {
  text-align: center;
  font-size: 16px;
  color: var(--dark-gray);
}
/* ====== 2 contact details ====== */
.Contact .contactdetails {
  margin: 40px 100px;
  display: flex;
  justify-content: space-evenly;
}
.Contact .contactdetails > div {
  width: 200px;
}
.Contact .contactdetails h5 {
  margin-bottom: 5px;
  padding-top: 40px;
  text-align: center;
  font-size: 16px;
  color: var(--dark-gray);
  background-position: top;
  background-repeat: no-repeat;
}
.Contact .contactdetails p {
  margin-top: 0;
  text-align: center;
  font-size: 14px;
}
.Contact .contactdetails div:nth-child(1) h5 {
  background-image: url(../images/green_mail.png);
}
.Contact .contactdetails div:nth-child(2) h5 {
  background-image: url(../images/green_phone.png);
}
.Contact .contactdetails div:nth-child(3) h5 {
  background-image: url(../images/green_facebook.png);
}
.Contact .contactdetails div:nth-child(4) h5 {
  background-image: url(../images/green_location.png);
}
