.iems {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}
/* ====== 1 iems brief ====== */
.iems .iems_brief {
  margin: 60px 10px 60px;
  display: flex;
  justify-content: space-between;
}
.iems .iems_brief .iems_content {
  width: 50%;
  margin: 0 10px;
}
.iems .iems_brief p {
  text-align: justify;
}
.iems .iems_brief .iems_text_bg {
  width: 45%;
  min-height: 350px;
  overflow: hidden;
  background-image: url(../images/iems_txt_bg.png);
  background-size: 80%;
  background-position: topleft;
  background-repeat: no-repeat;
  position: relative;
}
.iems .iems_brief img {
  width: 85%;
  position: absolute;
  top: 20%;
  right: 0;
}
/* ====== 2 platform features ====== */
.iems .iems_feature {
  margin: 60px 0 20px;
  padding: 0 10%;
}
.iems .iems_feature h3 {
  text-align: center;
}
.iems .iems_feature .iems_fea_content {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.iems .iems_feature .iems_fea_content > * {
  width: 400px;
  height: unset;
  margin: 20px 0;
}
.iems .iems_feature .iems_fea_img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-size: contain;
}
.iems .iems_feature .iems_fea_1 .iems_fea_img {
  background-image: url(../images/fea_icon_9.png);
}
.iems .iems_feature .iems_fea_2 .iems_fea_img {
  background-image: url(../images/fea_icon_10.png);
}
.iems .iems_feature .iems_fea_3 .iems_fea_img {
  background-image: url(../images/fea_icon_11.png);
}
.iems .iems_feature .iems_fea_4 .iems_fea_img {
  background-image: url(../images/fea_icon_12.png);
}
.iems .iems_feature h4 {
  margin: 10px 0;
}
.iems .iems_feature p {
  text-align: center;
  margin: 10px 0;
}
/* ====== 3 research background ====== */
.iems .research_background {
  margin: 60px 80px;
}
.iems .research_background h3 {
  text-align: center;
}
.iems .research_background p {
  text-align: center;
}
/* responsive design for mobile devices */
@media screen and (max-width: 640px) {
  /* ====== 1 iems brief ====== */
  .iems .iems_brief {
    margin: 60px 0 40px;
    display: unset;
  }
  .iems .iems_brief .iems_content {
    width: unset;
    padding: 20px 20px;
  }
  .iems .iems_brief .iems_text_bg {
    width: unset;
    min-height: unset;
  }
  /* ====== 3 research background ====== */
  .iems .research_background {
    margin: 60px 20px;
  }
  .iems .research_background p {
    text-align: justify;
  }
}
/* responsive design for tablet devices */
@media screen and (max-width: 1023px) and (min-width: 641px) {
  /* ====== 1 iems brief ====== */
  .iems .iems_brief {
    margin: 60px 0 0;
  }
  /* ====== 2 platform feature ====== */
  .iems .iems_feature {
    margin-top: 0;
    padding: 0 0;
  }
  .iems .iems_feature .iems_fea_content {
    margin: 0 auto;
  }
  .iems .iems_feature .iems_fea_content > * {
    margin: 10px auto;
    width: 45vw;
    height: unset;
  }
}
