.Home {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}
/* ====== 1 cooperator ====== */
.Home .cooperator {
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Home .cooperator > * {
  width: 60px;
  object-fit: contain;
}
.Home .cooperator img {
  object-fit: contain;
}
/* ====== 2 about article ====== */
.Home .about_article {
  margin: 0 15%;
  border-top: 2px solid #ddd;
  text-align: center;
  line-height: 22px;
}
.Home .about_article h3 {
  padding-top: 20px;
}
.Home .about_article .view_btn {
  height: 40px;
  width: 120px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--grass-green);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.Home .about_article .view_arrow {
  background-image: url(../images/white_arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  margin-left: 8px;
}
/* ====== 3 projects ====== */
.Home .projects {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.Home .projects > * {
  margin: 40px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px #ddd;
  width: 40%;
  padding: 20px 20px 30px 20px;
  position: relative;
}
.Home .projects .proj_tag {
  height: 40px;
  width: 100px;
  position: absolute;
  left: 5%;
  top: -20px;
  background-image: url(../images/green_tag.png);
  background-size: cover;
}
.Home .projects .proj_tag p {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  color: white;
}
.Home .projects h5 {
  margin: 10px 0 8px;
  font-size: var(--h5-small-font);
  line-height: 12px;
}
.Home .projects aside > p {
  font-size: var(--p-small-font);
  text-align: justify;
}
.Home .projects .proj_link {
  font-size: var(--p-small-font);
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  text-decoration: none;
  color: var(--teal-green);
}
.Home .projects .proj_img {
  width: 40%;
  margin: 10px;
  float: right;
  display: flex;
  align-items: center;
}
.Home .projects img {
  margin: 0 auto;
  padding: 50px 10px;
  background-image: url(../images/gray_diamond.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* ====== 4 feature ====== */
.Home .feature {
  margin-top: 40px;
  padding: 0 10%;
}
.Home .feature h3 {
  text-align: center;
}
.Home .feature .fea_content {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Home .feature .fea_content > * {
  width: 400px;
  height: 250px;
}
.Home .feature .fea_img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-size: contain;
}
.Home .feature .fea_1 .fea_img {
  background-image: url(../images/fea_icon_1.png);
}
.Home .feature .fea_2 .fea_img {
  background-image: url(../images/fea_icon_2.png);
}
.Home .feature .fea_3 .fea_img {
  background-image: url(../images/fea_icon_3.png);
}
.Home .feature .fea_4 .fea_img {
  background-image: url(../images/fea_icon_4.png);
}
.Home .feature h4 {
  margin: 10px 0;
}
.Home .feature p {
  text-align: center;
  margin: 10px 0;
}
/* ====== 5 roles ====== */
.Home .roles {
  padding: 20px;
  background-image: linear-gradient(#000a, #000a), url(../images/bg_role.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Home .roles h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: white;
}
.Home .roles > div {
  width: 440px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(../images/role_text_bg.png);
  background-size: cover;
  background-position: bottom;
  color: var(--light-gray);
}
.Home .roles img {
  object-fit: contain;
}
.Home .roles h5 {
  margin: 10px 20px;
  font-size: var(--h5-small-font);
}
.Home .roles p {
  margin: 10px 20px 35px;
  font-size: var(--p-small-font);
}
/* ====== 6 goals ====== */
.Home .goals {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.Home .goals img {
  width: 25%;
  object-fit: contain;
}
.Home .goals .goal_content {
  width: 55%;
}
.Home .goals p {
  margin: 30px 0;
}
.Home .goals :first-child {
  font-weight: 700;
}
.Home .goals .goal_content img {
  margin-right: 20px;
  max-height: 35px;
  width: auto;
  display: inline-block;
}
/* ====== 7 contact info ====== */
.Home .contactinfo {
  margin: 20px, auto;
  padding: 40px 3%;
  background-image: url(../images/bg_contactinfo.png);
  background-size: cover;
  background-position: bottom right;
  display: flex;
  justify-content: right;
}
.Home .contactinfo .contact_list {
  width: 25%;
  margin: 40px auto;
  color: white;
}
.Home .contact_list h5 {
  margin-top: 36px;
  font-size: var(--p-small-font);
}
.Home .contact_list p {
  padding-left: 25px;
  font-size: var(--p-small-font);
  background-size: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}
.Home .contact_list p:nth-child(2) {
  background-image: url(../images/white_mail.png);
}
.Home .contact_list p:nth-child(4) {
  background-image: url(../images/white_phone.png);
}
.Home .contact_list p:nth-child(6) {
  background-image: url(../images/white_facebook.png);
}
.Home .contact_list p:nth-child(8) {
  background-image: url(../images/white_location.png);
}
/* responsive design for mobile devices */
@media screen and (max-width: 640px) {
  /* ====== 1 cooperator ====== */
  .Home .cooperator {
    flex-wrap: wrap;
  }
  .Home .cooperator > * {
    margin: 10px;
  }
  /* ====== 2 about article ====== */
  .Home .about_article {
    margin: 0 20px;
    text-align: justify;
    line-height: unset;
  }
  /* ====== 3 projects ====== */
  .Home .projects {
    margin-top: 0px;
    padding-top: 60px;
    display: unset;
    justify-content: unset;
  }
  .Home .projects > * {
    width: unset;
  }
  /* ====== 6 goals ====== */
  .Home .goals {
    display: unset;
    justify-content: unset;
  }
  .Home .goals img {
    width: 300px;
    margin: 20px auto;
  }
  .Home .goals .goal_content {
    width: unset;
    padding: 0 20px;
  }
  .Home .goals p {
    margin: 14px 0;
  }
  .Home .goals .goal_content img {
    margin: 0;
  }
  /* ====== 7 contact info ====== */
  .Home .contactinfo {
    padding: 0;
    background-image: none;
    background-size: unset;
    background-position: unset;
    display: unset;
    justify-content: unset;
  }
  .Home .contactinfo .contact_list {
    width: unset;
    margin: 0 auto;
    padding: 20px 40px;
    background-image: url(../images/bg_contactinfo.png);
    background-size: cover;
    background-position: bottom right;
  }
  .Home .contactinfo > * {
    margin: 20px 0 0;
  }
  .Home .contact_list h5 {
    margin-top: 16px;
  }
}
/* responsive design for tablet devices */
@media screen and (max-width: 1023px) and (min-width: 641px) {
  /* ====== 4 feature ====== */
  .Home .feature {
    margin-top: 40px;
    padding: 0 0;
  }
  .Home .feature .fea_content > * {
    width: 45vw;
    height: 250px;
  }
  /* ====== 5 roles ====== */
  .Home .roles {
    padding: 20px 0;
  }
  .Home .roles > div {
    width: 35vw;
  }
  /* ====== 6 goals ====== */
  .Home .goals p {
    margin: 14px 0;
  }
}
