/* .divStyle {
  width: 100px;
  height: 100px;
  backgroundColor: red;
  animationName: example;
  animationDuration: 4s;
}
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
} */