header {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

/* ====== left: logo and navigation ====== */
header .left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo {
  width: 80px;
}

header .tab {
  display: inline-block;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-gray);
  white-space: nowrap;
}

header .tab:hover {
  background-color: var(--light-gray);
}

/* ====== right: demo and sign in ====== */
header .right {
  width: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .demo {
  height: 50px;
  width: 120px;
  border: 2px solid var(--teal-green);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .demo .btn {
  padding: 15px 5px;
  color: var(--teal-green);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

header .account {
  width: 150px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

header .account .icon {
  height: 20px;
  margin: 5px;
}

header .account .link {
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

/* ====== hover extra bar ====== */
header .left .extra_bar {
  width: var(--desktop-max-width);
  height: 40px;
  position: absolute;
  top: 60px;
  z-index: 2;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  background-color: white;
  display: flex;
  align-items: center;
}

header .left .extra_bar :first-child {
  margin-left: 335px;
}

header .left .extra_tab {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: var(--dark-gray);
  font-family: Arial;
  font-weight: 600;
}
