.banner {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  position: relative;
}
/* ====== background image ====== */
.banner StaticImage {
  width: var(--desktop-max-width);
}
/* ====== left: text ====== */
.banner .content {
  width: 36%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner .p1 {
  margin: 5% auto 0;
  color: white;
  font-size: 22px;
  text-align: center;
  white-space: nowrap;
}

.banner .p2 {
  margin: 0 auto;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
}

.banner .p3 {
  margin: 0 auto 5%;
  border: 1px black;
}

.banner .btn {
  padding: 5px;
  border: 2px solid var(--dark-gray);
  background-color: #dff;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
}

/* ====== bottom: bar ====== */
.banner .bar_set {
  height: 4%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.banner .bars {
  width: 20%;
  margin: 0 40%;
}
