.banner {
  max-width: var(--desktop-max-width);
  max-height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/* ====== background image ====== */
.banner .bannerSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  max-height: 600px;
}
.banner .slide {
  display: inline-block;
  width: 100%;
  object-fit: contain;
}
/* ====== left: text ====== */
.banner .content {
  width: 36%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.banner .p1 {
  margin: 5% auto 0;
  color: white;
  font-size: 22px;
  text-align: center;
  white-space: nowrap;
}
.banner .p2 {
  margin: 0 auto;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
}
.banner .p3 {
  margin: 0 auto 5%;
}
.banner .btn {
  padding: 5px;
  border: 2px solid var(--dark-gray);
  background-color: #dff;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}
/* ====== bottom: bar ====== */
.banner .slideBarSet {
  height: 8%;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.banner .slideBarSet > * {
  display: inline-block;
  margin: 0 1%;
  padding: 10px;
  height: 30px;
}
.banner .slideBar {
  width: 40px;
}
.banner .slideBarActive {
  width: 120px;
}
.banner .slideBarSet button div {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 8px #0009;
}

/* responsive design for tablet devices */
@media screen and (max-width: 1023px) and (min-width: 641px) {
  .banner {
    padding-top: 50px;
  }
  .banner .p1 {
    font-size: 2vw;
  }
  .banner .p2 {
    font-size: 1.8vw;
  }
  .banner .btn {
    font-size: 1.4vw;
  }
}
/* responsive design for mobile devices */
@media screen and (max-width: 640px) {
  .banner {
    padding-top: 50px;
    height: 400px;
  }
  .banner img {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  .banner .p1 {
    font-size: 16px;
  }
  .banner .p2 {
    font-size: 14px;
  }
  .banner .btn {
    font-size: 12px;
    line-height: 20px;
  }
}
