.card {
  max-width: 800px;
  height: 160px;
  margin: 60px auto;
  padding: 40px;
  background-image: url(../images/card_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #def;
}
.card > * {
  text-decoration: none;
}
.card div {
  padding: 12px;
  border: 1px solid white;
  color: white;
}
.card p {
  margin: 0;
  padding-right: 30px;
  font-size: var(--p-small-font);
  font-weight: 600;
  background-image: url(../images/white_arrow.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
}
/* responsive design for mobile devices */
@media screen and (max-width: 640px) {
  .card {
    height: unset;
    border-radius: 80px;
    background-size: 100% 100%;
    background-position: unset;
    flex-direction: column;
  }
  .card h5 {
    font-size: 20px;
  }
}
