footer {
  background-color: var(--dark-gray);
  height: 200px;
}
footer .section {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ====== left: logo ====== */
footer .left {
  max-height: 100px;
  max-width: 100px;
  margin: 20px;
}
footer .logo {
  height: 100%;
  border-radius: 10px;
}
footer .heading {
  height: 45px;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
/* ====== middle: navigation ====== */
footer .middle {
  width: 30%;
}
footer .links {
  height: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .links a {
  width: 80px;
  height: 25px;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
/* ====== right: contact link ====== */
footer .right {
  width: 30%;
}
footer .right .icon {
  height: 30px;
  width: 30px;
  margin: 10px;
}
/* ====== bottom copyright info ====== */
footer .line {
  height: 20px;
  text-align: center;
  font-family: Arial;
  font-weight: 600;
  font-size: 12px;
}
