header {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .navIcon,
header .resLogo {
  display: none;
}
/* ====== left: logo and navigation ====== */
header .left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .left .logo {
  width: 80px;
}
header .left .tab {
  display: inline-block;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-gray);
  white-space: nowrap;
}
header .left .tabActived {
  display: inline-block;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--teal-green);
  white-space: nowrap;
}
header .left .tab:hover {
  background-color: var(--light-gray);
}
/* ====== right: demo and sign in ====== */
header .right {
  width: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .demo {
  height: 50px;
  width: 120px;
  border: 2px solid var(--teal-green);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .demo .btn {
  padding: 15px 5px;
  color: var(--teal-green);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
header .account {
  width: 160px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
header .account .icon {
  height: 20px;
  margin: 5px;
}
header .account .link {
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
/* ====== hover extra tabs ====== */
header .left .extra_bar {
  width: var(--desktop-max-width);
  height: 40px;
  position: absolute;
  top: 60px;
  z-index: 2;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  background-color: white;
  display: flex;
  align-items: center;
}
header .left .extra_bar :first-child {
  margin-left: 295px;
}
header .left .extraTab {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 600;
}
header .left .extraTabActived {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: var(--teal-green);
  font-weight: 600;
}
/* ====== account pop up window ====== */
header .popUp {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
header .popUp > button {
  width: 20px;
  height: 20px;
  position: absolute;
  float: right;
  top: 15px;
  right: 15px;
}
/* responsive design for mobile and tablet devices */
@media screen and (max-width : 1023px) {
  header {
    max-width:unset;
    width: 100vw;
    height: 50px;
    background-color: var(--teal-green);
    position: fixed;
    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
    /* todo */
    z-index: 5;
  }
  header .resLogo {
    display: unset;
  }
  header .left,
  header .right .demo {
    display: none;
  }
  header .resLogo {
    display: block;
    height: 55px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  /* ====== resLeft: navigation tabs ====== */
  header .resLeft {
    position: relative;
  }
  header .resLeft .navIcon {
    display: block;
    padding: 15px;
    height: 50px;
    width: 50px;
  }
  header .resLeft .resTabs {
    width: 200px;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  header .resLeft .resTabs > * {
    display: block;
    padding: 15px 15px;
    border-top: 1px solid #888;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: white;
  }
  header .resLeft .resTabs :nth-child(4),
  header .resLeft .resTabs :nth-child(5) {
    padding: 10px 40px;
  }
  header .resTab {
    background-color: var(--dark-gray);
  }
  header .resTabActived {
    background-color: var(--teal-green);
  }
  /* ====== right: demo and sign in ====== */
  header .right {
    width: 40%;
    justify-content: right;
  }
  header .account {
    width: unset;
    line-height: 21px;
    color:white;
  }
  header .account .icon {
    background-color: white;
  }
  header .account .link {
    color: white;
  }
}
