:root {
  /* font-family */
  --en-font: Arial, Helvetica, sans-serif;
  --zh-font: "Microsoft YaHei";

  /* color */
  --dark-gray: #444;
  --light-gray: #ddd;
  --grass-green: #91c151;
  --teal-green: #44888b;

  /* Sizes and widths */
  --desktop-max-width: 1440px;
  --h5-small-font: 16px;
  --p-small-font: 14px;
}

/* responsive design for mobile devices */
@media screen and (max-width: 640px) {
  :root {
    /* Sizes and widths */
    /* --desktop-max-width: 1440px; */
    --h5-small-font: 14px;
    --p-small-font: 12px;
  }
}
